<div id="center_column">


	<!-- Breadcrumb -->
	<div class="breadcrumb">
		<h1>
			<a href="http://www.vokav.com/" title="return to Home">Home</a><span class="navigation-pipe">&gt;</span><a
				href="http://www.vokav.com/category.php?id_category=80" title="Edibles">Edibles</a><span class="navigation-pipe">&gt;</span>Oats / Corn flakes
		</h1>
	</div>
	<!-- /Breadcrumb -->

	<div class="page_title">
		<div class="page_title_bg">
			<h2>
				Oats / Corn flakes
				<!-- <span class="cat_info">(There are&#160;17&#160;products)</span>-->
			</h2>
		</div>
	</div>
	<div>
		<!-- Category image -->




		<!-- Products list -->
		<!--<ul id="product_list" class="clear">-->
		<div class="catalogue_left">

			<table cellspacing="0" cellpadding="0" class="product_catalogue">
				<tbody>
					<tr>
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=295" class="product_img_link" title="Kelloggs H2H Oats"><img
								src="http://www.vokav.com/img/p/295-355-home.jpg" alt="Kellogs H2H Oats" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=295" title="Kelloggs H2H Oats">Kelloggs H2H Oats</a><br> <span class="price"
							style="display: inline;">Rs.31.68</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=295" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product first_item item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=295" class="product_img_link" title="Kelloggs H2H Oats"><img src="http://www.vokav.com/img/p/295-355-home.jpg" alt="Kellogs H2H Oats"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=295" title="Kelloggs H2H Oats">Kelloggs H2H Oats</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=295" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.31.68</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_295" href="http://www.vokav.com/cart.php?add&amp;id_product=295&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=295" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=296" class="product_img_link" title="Saffola Oats"><img
								src="http://www.vokav.com/img/p/296-369-home.jpg" alt="Saffola Oats" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=296" title="Saffola Oats">Saffola Oats</a><br> <span class="price"
							style="display: inline;">Rs.31.52</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=296" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=296" class="product_img_link" title="Saffola Oats"><img src="http://www.vokav.com/img/p/296-369-home.jpg" alt="Saffola Oats"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=296" title="Saffola Oats">Saffola Oats</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=296" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.31.52</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_296" href="http://www.vokav.com/cart.php?add&amp;id_product=296&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=296" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=308" class="product_img_link" title="Kelloggs Extra Muesli"><img
								src="http://www.vokav.com/img/p/308-371-home.jpg" alt="Kellogs Extra Muesli" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=308" title="Kelloggs Extra Muesli">Kelloggs Extra Muesli</a><br> <span class="price"
							style="display: inline;">Rs.200.00</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=308" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=308" class="product_img_link" title="Kelloggs Extra Muesli"><img src="http://www.vokav.com/img/p/308-371-home.jpg" alt="Kellogs Extra Muesli"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=308" title="Kelloggs Extra Muesli">Kelloggs Extra Muesli</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=308" title=""></a></p>
                            </div>
                            <div class="right_block">
                                                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.200.00</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_308" href="http://www.vokav.com/cart.php?add&amp;id_product=308&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=308" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=309" class="product_img_link" title="kelloggs chocos "><img
								src="http://www.vokav.com/img/p/309-372-home.jpg" alt="kellogs chocos " width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=309" title="kelloggs chocos ">kelloggs chocos </a><br> <span class="price"
							style="display: inline;">Rs.45.54</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=309" title=""></a></p> -->
						</td>
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=309" class="product_img_link" title="kelloggs chocos "><img src="http://www.vokav.com/img/p/309-372-home.jpg" alt="kellogs chocos "  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=309" title="kelloggs chocos ">kelloggs chocos </a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=309" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.45.54</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_309" href="http://www.vokav.com/cart.php?add&amp;id_product=309&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=309" title="View">View</a>
                                                            </div>
                        </li>-->
						<!--</tr><tr><td colspan="7" class="div_line"></td></tr><tr>-->
					</tr>
					<tr>
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=310" class="product_img_link" title="Kelloggs Chocos duet"><img src="http://www.vokav.com/img/p/310-373-home.jpg" alt="Kellogs Chocos duet"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=310" title="Kelloggs Chocos duet">Kelloggs Chocos duet</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=310" title=""></a></p>
                            </div>
                            <div class="right_block">
                                                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.140.00</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_310" href="http://www.vokav.com/cart.php?add&amp;id_product=310&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=310" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=311" class="product_img_link" title="Kelloggs Honey Loops"><img
								src="http://www.vokav.com/img/p/311-374-home.jpg" alt="Kellogs Honey Loops" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=311" title="Kelloggs Honey Loops">Kelloggs Honey Loops</a><br> <span class="price"
							style="display: inline;">Rs.107.75</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=311" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=311" class="product_img_link" title="Kelloggs Honey Loops"><img src="http://www.vokav.com/img/p/311-374-home.jpg" alt="Kellogs Honey Loops"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=311" title="Kelloggs Honey Loops">Kelloggs Honey Loops</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=311" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.107.75</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_311" href="http://www.vokav.com/cart.php?add&amp;id_product=311&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=311" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=312" class="product_img_link" title="Kelloggs Special K"><img
								src="http://www.vokav.com/img/p/312-375-home.jpg" alt="Kellogs Special K" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=312" title="Kelloggs Special K">Kelloggs Special K</a><br> <span class="price"
							style="display: inline;">Rs.47.50</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=312" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=312" class="product_img_link" title="Kelloggs Special K"><img src="http://www.vokav.com/img/p/312-375-home.jpg" alt="Kellogs Special K"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=312" title="Kelloggs Special K">Kelloggs Special K</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=312" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.47.50</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_312" href="http://www.vokav.com/cart.php?add&amp;id_product=312&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=312" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=313" class="product_img_link" title="Kelloggs Honey Real "><img
								src="http://www.vokav.com/img/p/313-376-home.jpg" alt="Kellogs Honey Real " width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=313" title="Kelloggs Honey Real ">Kelloggs Honey Real </a><br> <span class="price"
							style="display: inline;">Rs.42.14</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=313" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=313" class="product_img_link" title="Kelloggs Honey Real "><img src="http://www.vokav.com/img/p/313-376-home.jpg" alt="Kellogs Honey Real "  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=313" title="Kelloggs Honey Real ">Kelloggs Honey Real </a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=313" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.42.14</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_313" href="http://www.vokav.com/cart.php?add&amp;id_product=313&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=313" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=314" class="product_img_link" title="Kelloggs Strawberry corn flakes"><img
								src="http://www.vokav.com/img/p/314-377-home.jpg" alt="Kellogs Strawberry corn flakes" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=314" title="Kelloggs Strawberry corn flakes">Kelloggs Strawberry corn flakes</a><br> <span
							class="price" style="display: inline;">Rs.36.63</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=314" title=""></a></p> -->
						</td>
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=314" class="product_img_link" title="Kelloggs Strawberry corn flakes"><img src="http://www.vokav.com/img/p/314-377-home.jpg" alt="Kellogs Strawberry corn flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=314" title="Kelloggs Strawberry corn flakes">Kelloggs Strawberry corn flakes</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=314" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.36.63</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_314" href="http://www.vokav.com/cart.php?add&amp;id_product=314&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=314" title="View">View</a>
                                                            </div>
                        </li>-->
						<!--</tr><tr><td colspan="7" class="div_line"></td></tr><tr>-->
					</tr>
					<tr>
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=315" class="product_img_link" title="Kelloggs Corn flakes"><img src="http://www.vokav.com/img/p/315-378-home.jpg" alt="Kellogs Corn flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=315" title="Kelloggs Corn flakes">Kelloggs Corn flakes</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=315" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.31.25</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_315" href="http://www.vokav.com/cart.php?add&amp;id_product=315&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=315" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=316" class="product_img_link" title="Kelloggs Corn flakes Real Almond"><img
								src="http://www.vokav.com/img/p/316-379-home.jpg" alt="Kelloggs Almond Corn flakes" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=316" title="Kelloggs Corn flakes Real Almond">Kelloggs Corn flakes Real Almond</a><br> <span
							class="price" style="display: inline;">Rs.139.75</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=316" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=316" class="product_img_link" title="Kelloggs Corn flakes Real Almond"><img src="http://www.vokav.com/img/p/316-379-home.jpg" alt="Kelloggs Almond Corn flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=316" title="Kelloggs Corn flakes Real Almond">Kelloggs Corn flakes Real Almond</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=316" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.139.75</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_316" href="http://www.vokav.com/cart.php?add&amp;id_product=316&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=316" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=317" class="product_img_link" title="Kelloggs Wheat flakes"><img
								src="http://www.vokav.com/img/p/317-380-home.jpg" alt="Kelloggs Wheat flakes" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=317" title="Kelloggs Wheat flakes">Kelloggs Wheat flakes</a><br> <span class="price"
							style="display: inline;">Rs.140.00</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=317" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=317" class="product_img_link" title="Kelloggs Wheat flakes"><img src="http://www.vokav.com/img/p/317-380-home.jpg" alt="Kelloggs Wheat flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=317" title="Kelloggs Wheat flakes">Kelloggs Wheat flakes</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=317" title=""></a></p>
                            </div>
                            <div class="right_block">
                                                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.140.00</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_317" href="http://www.vokav.com/cart.php?add&amp;id_product=317&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=317" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=318" class="product_img_link" title="Kelloggs Oat Bites"><img
								src="http://www.vokav.com/img/p/318-381-home.jpg" alt="Kelloggs Oat Bites" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=318" title="Kelloggs Oat Bites">Kelloggs Oat Bites</a><br> <span class="price"
							style="display: inline;">Rs.93.10</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=318" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=318" class="product_img_link" title="Kelloggs Oat Bites"><img src="http://www.vokav.com/img/p/318-381-home.jpg" alt="Kelloggs Oat Bites"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=318" title="Kelloggs Oat Bites">Kelloggs Oat Bites</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=318" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.93.10</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_318" href="http://www.vokav.com/cart.php?add&amp;id_product=318&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=318" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=319" class="product_img_link" title="Quaker Oats"><img
								src="http://www.vokav.com/img/p/319-462-home.jpg" alt="Quaker Oats" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=319" title="Quaker Oats">Quaker Oats</a><br> <span class="price"
							style="display: inline;">Rs.56.84</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=319" title=""></a></p> -->
						</td>
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=319" class="product_img_link" title="Quaker Oats"><img src="http://www.vokav.com/img/p/319-462-home.jpg" alt="Quaker Oats"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=319" title="Quaker Oats">Quaker Oats</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=319" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.56.84</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_319" href="http://www.vokav.com/cart.php?add&amp;id_product=319&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=319" title="View">View</a>
                                                            </div>
                        </li>-->
						<!--</tr><tr><td colspan="7" class="div_line"></td></tr><tr>-->
					</tr>
					<tr>
						<!--<li class="ajax_block_product  item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=515" class="product_img_link" title="Euro Garden Corn Flakes"><img src="http://www.vokav.com/img/p/515-574-home.jpg" alt="Euro Garden Corn Flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=515" title="Euro Garden Corn Flakes">Euro Garden Corn Flakes</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=515" title=""></a></p>
                            </div>
                            <div class="right_block">
                                <span class="discount">Reduced price!</span>                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.84.15</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_515" href="http://www.vokav.com/cart.php?add&amp;id_product=515&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=515" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=676" class="product_img_link" title="Kellogs Chocos - whole grain"><img
								src="http://www.vokav.com/img/p/en-default-home.jpg" alt="" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=676" title="Kellogs Chocos - whole grain">Kellogs Chocos - whole grain</a><br> <span
							class="price" style="display: inline;">Rs.90.00</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=676" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product  alternate_item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=676" class="product_img_link" title="Kellogs Chocos - whole grain"><img src="http://www.vokav.com/img/p/en-default-home.jpg" alt=""  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=676" title="Kellogs Chocos - whole grain">Kellogs Chocos - whole grain</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=676" title=""></a></p>
                            </div>
                            <div class="right_block">
                                                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.90.00</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_676" href="http://www.vokav.com/cart.php?add&amp;id_product=676&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=676" title="View">View</a>
                                                            </div>
                        </li>-->
						<td class="product_block" align="center" style="border-bottom: 1px dotted #EBEBEB;"><a
							href="http://www.vokav.com/product.php?id_product=683" class="product_img_link" title="Kellogs All Bran Wheat Flakes"><img
								src="http://www.vokav.com/img/p/683-665-home.jpg" alt="Kellogs All Bran Wheat Flakes" width="129" height="129"></a> <br> <a
							href="http://www.vokav.com/product.php?id_product=683" title="Kellogs All Bran Wheat Flakes">Kellogs All Bran Wheat Flakes</a><br> <span
							class="price" style="display: inline;">Rs.140.00</span><br> <!--<p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=683" title=""></a></p> -->
						</td>
						<!--<td class="v_div_line">&nbsp;</td>-->
						<!--<li class="ajax_block_product last_item item clearfix">
                            <div class="center_block">
                                <a href="http://www.vokav.com/product.php?id_product=683" class="product_img_link" title="Kellogs All Bran Wheat Flakes"><img src="http://www.vokav.com/img/p/683-665-home.jpg" alt="Kellogs All Bran Wheat Flakes"  width="129" height="129" /></a>
                                <h3><a href="http://www.vokav.com/product.php?id_product=683" title="Kellogs All Bran Wheat Flakes">Kellogs All Bran Wheat Flakes</a></h3>
                                <p class="product_desc"><a href="http://www.vokav.com/product.php?id_product=683" title=""></a></p>
                            </div>
                            <div class="right_block">
                                                                                                                                <div>
                                        <span class="price" style="display: inline;">Rs.140.00</span><br />                                        <span class="availability">Available</span>                                </div>
                                                                                                                                                        <a class="button ajax_add_to_cart_button exclusive" rel="ajax_id_product_683" href="http://www.vokav.com/cart.php?add&amp;id_product=683&amp;token=8d43c94f339e489ac76f320be6dce287" title="Add to cart">Add to cart</a>
                                                                                                        <a class="button" href="http://www.vokav.com/product.php?id_product=683" title="View">View</a>
                                                            </div>
                        </li>-->
						<!--</ul>-->
					</tr>
				</tbody>
			</table>
		</div>
		<!-- /Products list -->


		<!-- Pagination -->

		<div id="pagination" class="pagination">
			<!--<form action="http://www.vokav.com/category.php?id_category=81" method="get" class="pagination">
                                <p>
                                                                                                                        <input type="submit" class="button_mini" value="OK" />
                                        <label for="nb_item">items:</label>
                                        <select name="n" id="nb_item">
                                                                                                                                                                                        <option value="10" >10</option>
                                                                                                                                                                                                                                                <option value="20" selected="selected">20</option>
                                                                                                                                                                                                                                                                                                                                                                                                                                                                </select>
                                                                                                                                                                                                                                                                                                                        <input type="hidden" name="id_category" value="81" />
                                                                                                                                                                                </p>
                        </form>-->
		</div>
		<!-- /Pagination -->
	</div>


</div>