
<style>
.notice td,.join td,.part td,.message .date {
	color: #555;
}

.error td {
	color: #933;
}

.personal .nick,.notice .nick {
	color: #cd5;
}

.message {
	margin: 0.1em 0;
}

.message td {
	vertical-align: top;
}

.nick {
	font-weight: bold;
	padding: 0 1em 0 0.5em;
}

.nick a {
	color: inherit;
}

#recieve,#send {
	width: 500px;
	margin-left: 2%;
}

#recieve{
	height:70%;
}

#send {
	height: 100px;
	border: 1px solid #ccc;
}

#send textarea {
	float: left;
	width: 84%;
	height: 99px;
}

#send button {
	float: left;
	margin-top:20px;
	padding: 10px 20px;
}
</style>
<div id="beforeJoin">
	<input />
	<button>Join</button>
</div>
<div id="afterJoin" style='display: none'>
	<div id="recieve"></div>
	<div id="send">
		<textarea></textarea>
		<button class="Submit">Send</button>
	</div>

</div>