<style>
#home{
	clear:both;
	padding-top: 8px;
}
#home ul {
	list-style-type: none;
}

#home span{
	cursor: pointer;
}

#home .sub-category-list {
	background-color: #709E0E;
	padding: 15px;
	margin-top: 5px;
	margin-left: 5px;
	position: absolute;
}

#home .sub-category-list li a {
	color: #ffffff;
	text-decoration: none;
}

#home ul li.category {
	float: left;
}
</style>
<div id="home" class="home">
	<div class="sf-contener">
		<ul class="jfm-button green-btn">
			<li class="category"><span class="jfm-button green-btn">Edibles</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=67">Jam / Honey / Ketchup</a></li>
					<li><a href="#!home/type=81">Oats / Corn flakes</a></li>
					<li><a href="#!home/type=90">Chips / Munches</a></li>
					<li><a href="#!home/type=96">Choclates</a></li>
					<li><a href="#!home/type=55">Cookies</a></li>
					<li><a href="#!home/type=94">Breakfast Mix's</a></li>
					<li><a href="#!home/type=85">Pop Corn</a></li>
					<li><a href="#!home/type=95">Snacks / Namkeen</a></li>
					<li><a href="#!home/type=65">Soups / Noodles</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Beverages</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=49">Coffee &amp; Tea</a></li>
					<li><a href="#!home/type=48">Health Drinks</a></li>
					<li><a href="#!home/type=82">Juices / Soft Drinks / Water</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Groceries</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=71">Cooking Oil</a></li>
					<li><a href="#!home/type=89">Rice</a></li>
					<li><a href="#!home/type=73">Flour / Semolina</a></li>
					<li><a href="#!home/type=68">Masalas</a></li>
					<li><a href="#!home/type=60">Pulses / Seeds</a></li>
					<li><a href="#!home/type=84">Salt</a></li>
					<li><a href="#!home/type=61">Others</a></li>
					<li><a href="#!home/type=59">Spices / Herbs</a></li>
					<li><a href="#!home/type=46">Dry Fruits</a></li>
					<li><a href="#!home/type=78">Fryums</a></li>
					<li><a href="#!home/type=92">Pickles</a></li>
					<li><a href="#!home/type=88">Basmati Rice</a></li>
					<li><a href="#!home/type=98">Ghee &amp; Vanaspathi</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Personal Care</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=24">Cleansing Soaps</a></li>
					<li><a href="#!home/type=32">Facial Care</a></li>
					<li><a href="#!home/type=29">Hair Care</a></li>
					<li><a href="#!home/type=66">Moisturizers</a></li>
					<li><a href="#!home/type=34">Oral care</a></li>
					<li><a href="#!home/type=64">Talcum Powders</a></li>
					<li><a href="#!home/type=28">Shaving Aids</a></li>
					<li><a href="#!home/type=79">Others</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Home upkeep</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=35">Hygiene Essentials</a></li>
					<li><a href="#!home/type=75">Mosquito Repeller</a></li>
					<li><a href="#!home/type=39">Detergents</a></li>
					<li><a href="#!home/type=40">Supplies</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Infant Zone</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=45">Food &amp; Drinks</a></li>
					<li><a href="#!home/type=44">Personal Care</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Organic</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=99">Rice</a></li>
					<li><a href="#!home/type=100">SPICES / HERBS</a></li>
					<li><a href="#!home/type=101">FLOUR / SEMOLINA</a></li>
					<li><a href="#!home/type=102">Pulses / Seeds</a></li>
				</ul></li>
			<li class="category"><span class="jfm-button green-btn">Others</span>
				<ul style="display: none;" class="sub-category-list">
					<li><a href="#!home/type=77">Shoe Polish</a></li>
					<li><a href="#!home/type=86">Necessities</a></li>
					<li><a href="#!home/type=72">Incense Sticks</a></li>
					<li><a href="#!home/type=105">Combos</a></li>
				</ul></li>
		</ul>

	</div>
</div>