<style>
#intro {
	padding: 10px;
	width: 700px;
	margin: 0 auto;
	font-size: 17px;
	background-color: #eee;
}

#intro table {
	width: 60%;
}

#intro .text {
	padding: 10px 5px;
}

#intro .select>div {
	width: 300px;
}

#intro input,#intro select {
	height: 30px;
	width: 360px;
	padding-left: 4px;
}

#intro .submit {
	height: 35px;
	margin-left: -5px;
	width: 55px;
	padding:0;
}

.td1 {
	padding-top: 5px;
}
</style>
<div id="intro" class="intro">
	<form id="join" method="POST">
		<div style="width: 35%; float: left;">
			<h2>Join Organization...</h2>
		</div>
		<table>
			<tbody>
				<tr class="email">
					<td class="input td1"><input class="mandatory"
						datatype="email" placeholder="Email Address" name="user.email"
						type="text" /> <button class="jfm-button green-btn submit"> Join </button></td>
				</tr>
			</tbody>
		</table>
	</form>
	<div>OR</div>
	<form method="POST" id="signin">
		<div style="width: 35%; float: left;">
			<h2>Sign In</h2>
		</div>
		<table>
			<tbody>
				<tr class="email">
					<td class="input td1"><input class="mandatory"
						datatype="email" placeholder="Email Address" name="user.email"
						type="text" /><button class="jfm-button green-btn submit"> Sign In </button></td>
				</tr>
			</tbody>
		</table>
	</form>
</div>