<style>
#intro {
	padding: 10px;
	width: 700px;
	margin: 0 auto;
	font-size: 17px;
	background-color: #eee;
}

#intro table {
	width: 43%;
}

#intro .text {
	padding: 10px 5px;
}

#intro .select>div {
	width: 300px;
}

#intro input,#intro select {
	height: 30px;
	width: 300px;
	padding-left: 4px;
}

.td1 {
	padding-top: 5px;
	position: relative;
}
</style>
<div id="intro" class="intro">
	<form method='POST'>
		<div style="width: 55%; float: left;">
			<h2>Please fill this form</h2>
		</div>
		<input type="hidden" name="method" value="register"/>
		<table>
			<tbody>
				<tr class="firstname">
					<td class="input td1"><input placeholder="First Name" class="mandatory" name="user.firstName" type="text"></td>
				</tr>
				<tr class="lastname">

					<td class="input td1"><input placeholder="Last Name" class="mandatory" name="user.lastName" type="text"></td>
				</tr>
				<tr class="email">
					<td class="input td1"><input class="mandatory" datatype="email" placeholder="Email Address" name="user.email" type="text" /></td>
				</tr>
				<tr class="email">
					<td class="input td1"><input class="mandatory" datatype="password" placeholder="Password" name="user.password" type="password" /></td>
				</tr>
				<tr class="email">
					<td class="input td1"><input class="mandatory" datatype="password" placeholder="Re-Enter password" name="user.password1" type="password" /></td>
				</tr>
			</tbody>
		</table>
		<input style="background-color: azure; margin-left: 230px; margin-top: 20px;" type="submit" value="Submit">
	</form>
</div>