<link type=text/css rel=stylesheet href='css/reader.css'/>
<div id="main">
	<div id="container">
		<div id="article-container">
		</div>
		<div id="article-list"></div>
	</div>
	<div id="taskbar">
			<div class="home left-float">
				<a><img alt="" height=40 src="img/home.jpg"></a>
			</div>
			
			<div class="controlers left-float">
		          <div> <a> <font class="minus" size=4>A</font> </a> <a><font size="6" class="plus">A</font> </a></div>
		   </div>
			<div class="show-column left-float">
				<a>Column View</a>
			</div>
		   <div class="news-feed-select right-float" >
			   <div class="left-float" style="float:left"><a><img height=35 src="img/settings.jpg"></a></div>
		   </div>
		   <div class="middle-align navigations">
		   		<div class="left-navigation"></div>
		   		<div class="up-navigation"></div>
		   		<div class="right-navigation"></div>
		   		<div class="down-navigation"></div>
		   </div>
		</div>
		<div id="hidden"></div>
   	</div>
   	<div id="fb-root"></div>
	<script>
		/* FB.init({
			appId : '236977699682799',
			status : false, // check login status
			cookie : true, // enable cookies to allow the server to access the session
			xfbml : true // parse XFBML
		});
		FB.Canvas.setAutoResize(); */
	</script>
